.section_home-our-people {
  background-color: #ffffff;
  width: 100%;
}

.home-our-people_content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 0;
}

.home-our-people_content h2 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #333;
}

.home-our-people_content p {
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 1.6;
  color: #666;
}

@media screen and (max-width: 991px) {
  .home-our-people_content {
    padding: 3rem 0;
  }

  .home-our-people_content h2 {
    margin-bottom: 1rem;
  }
}
