.page-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.main-wrapper {
  position: relative;
  z-index: 1;
}

.padding-global {
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-xlarge {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.padding-section-medium {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 991px) {
  .padding-global {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .padding-section-small {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
