/* 기본 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Haas Grot Text Trial', sans-serif;
    width: 100%;
    background: white;
}

/* 메인 컨테이너 */
.DetailPageDetail {
    width: 100%;
    height: 309.9vw;
    position: relative;
    background: white;
    overflow: hidden;
}

/* 제목 텍스트 - MEMES (첫 번째) */
.DetailPageDetail > .Memes:nth-child(1) {
    left: 5.21vw;
    top: 56.04vw;
    position: absolute;
    color: white;
    font-size: 6.25vw;
    font-weight: 500;
    word-wrap: break-word;
}

/* 제목 텍스트 - MEMES (두 번째) */
.DetailPageDetail > .Memes:nth-child(4) {
    left: 5.21vw;
    top: 56.09vw;
    position: absolute;
    color: white;
    font-size: 6.25vw;
    font-weight: 500;
    word-wrap: break-word;
}

/* 푸터 영역 */
.Footer {
    width: 100%;
    height: 10.42vw;
    left: 0;
    top: 299.48vw;
    position: absolute;
    background: black;
    overflow: hidden;
}

/* 푸터 내 벡터 이미지 */
.Footer .Vector {
    width: 10.42vw;
    height: 10.42vw;
    left: 1.25vw;
    top: 0;
    position: absolute;
}

/* 저작권 텍스트 */
.Copyright {
    left: 66.41vw;
    top: 3.96vw;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 2.08vw;
    font-weight: 400;
    word-wrap: break-word;
}

/* 배경 벡터 이미지 (큰 이미지 1920x1151) */
.DetailPageDetail > [data-svg-wrapper].Vector:nth-of-type(3) {
    width: 100vw;
    height: 59.95vw;
    left: 0;
    top: 5.21vw;
    position: absolute;
}

/* 흰색 상단 박스 */
.Rectangle5 {
    width: 100%;
    height: 5.21vw;
    left: 0;
    top: 0;
    position: absolute;
    background: white;
}

/* 메뉴 버튼 */
.MenuText {
    left: 89.32vw;
    top: 1.61vw;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1.67vw;
    font-weight: 500;
    word-wrap: break-word;
}

/* 로그인 버튼 */
.LoginButton {
    left: 80.63vw;
    top: 1.61vw;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1.67vw;
    font-weight: 500;
    word-wrap: break-word;
}

/* 로고 벡터 (104x99) */
.DetailPageDetail > [data-svg-wrapper].Vector:nth-of-type(8) {
    width: 5.42vw;
    height: 5.16vw;
    left: 5.20vw;
    top: -0.28vw;
    position: absolute;
}

/* 배경 회색 박스 */
.Rectangle6 {
    width: 89.58%;
    height: 218.75vw;
    left: 5.21vw;
    top: 70.31vw;
    position: absolute;
    background: #f1f1f1;
    border-radius: 1.67vw;
}

/* 하단 회색 박스 */
.Rectangle7 {
    width: 89.58%;
    height: 41.67vw;
    left: 5.21vw;
    top: 247.40vw;
    position: absolute;
    background: #d9d9d9;
    border-bottom-right-radius: 1.67vw;
    border-bottom-left-radius: 1.67vw;
}

/* 상단 회색 박스 */
.Rectangle10 {
    width: 89.58%;
    height: 15.63vw;
    left: 5.21vw;
    top: 70.31vw;
    position: absolute;
    background: #d9d9d9;
    border-top-left-radius: 1.67vw;
    border-top-right-radius: 1.67vw;
}

/* 화살표 벡터 (150x125) */
.DetailPageDetail > [data-svg-wrapper].Vector:nth-of-type(12) {
    width: 7.81vw;
    height: 6.51vw;
    left: 10.42vw;
    top: 74.84vw;
    position: absolute;
}

/* 댓글 섹션 */
.CommentSection {
    width: 83.33%;
    height: 31.25vw;
    left: 8.33vw;
    top: 252.60vw;
    position: absolute;
    background: white;
}

/* 제목 */
.ThisIsTheTitle {
    left: 26.46vw;
    top: 75.10vw;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 5.21vw;
    font-weight: 500;
    word-wrap: break-word;
}

/* 컨텐츠 섹션 */
.ContentSection {
    width: 83.33%;
    height: 93.75vw;
    left: 8.33vw;
    top: 148.44vw;
    position: absolute;
    background: #d9d9d9;
}

/* 샘플 이미지 */
.SampleImage {
    width: 52.08vw;
    height: 52.08vw;
    left: 23.96vw;
    top: 91.15vw;
    position: absolute;
}

/* 언어 전환 버튼 */
.KorEng {
    left: 81.51vw;
    top: 75.00vw;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.KorEng span {
    font-size: 2.08vw;
    font-weight: 400;
    word-wrap: break-word;
}

.KorEng span:nth-child(1) {
    color: #c60c30;
}

.KorEng span:nth-child(2) {
    color: black;
}

.KorEng span:nth-child(3) {
    color: #003780;
}

/* 토글 스위치 */
.ToggleSwitch {
    width: 6.25vw;
    height: 2.08vw;
    padding: 0.104vw;
    left: 83.85vw;
    top: 78.13vw;
    position: absolute;
    background: #c60c30;
    overflow: hidden;
    border-radius: 5.21vw;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.ToggleSwitch .Frame {
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    gap: 0.52vw;
    display: flex;
}

.ToggleSwitch .Knob {
    position: relative;
    width: 2.44vw;
    height: 1.5vw;
    display: flex;
    align-items: center;
}

/* SVG 반응형 처리 */
[data-svg-wrapper] svg {
    width: 100%;
    height: 100%;
}
