* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Haas Grot Text Trial", sans-serif;
}

.DetailPageOverview {
    width: 1920px;
    height: 4440px;
    position: relative;
    background: white;
    overflow: hidden;
}

/* Header */
.Rectangle5 {
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
}

.MenuText {
    left: 1715px;
    top: 31px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 32px;
    font-weight: 500;
}

.LoginButton {
    left: 1548px;
    top: 31px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 32px;
    font-weight: 500;
}

/* Logo */
.Vector-logo {
    left: 99.79px;
    top: -5.36px;
    position: absolute;
}

.Vector-logo svg {
    width: 104px;
    height: 99px;
}

/* Hero Section */
.Vector-hero {
    left: 0px;
    top: 100px;
    position: absolute;
}

.Vector-hero svg {
    width: 1920px;
    height: 1151px;
}

/* Memes Title */
.Memes {
    left: 100px;
    top: 1076px;
    position: absolute;
    color: white;
    font-size: 120px;
    font-weight: 500;
}

/* Year Section */
.year-section {
    position: absolute;
    left: 100px;
    top: 1320px;
    width: 1820px;
    display: flex;
    gap: 40px;
}

.year-button {
    border: none;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 52px;
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: "Haas Grot Text Trial", sans-serif;
}

.year-button--red {
    background: #bb5151;
    width: 400px;
    height: 100px;
}

.year-button--blue {
    background: #515dbb;
    width: 401px;
    height: 100px;
}

.year-button:hover {
    transform: scale(1.05);
}

/* Card Container */
.card-container {
    position: absolute;
    width: 840px;
    height: 1067px;
}

.Rectangle6 {
    width: 840px;
    height: 800px;
    position: absolute;
    background: #f1f1f1;
    border-radius: 32px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.Rectangle6 svg {
    width: 100%;
    height: 100%;
}

.Rectangle7 {
    width: 840px;
    height: 267px;
    position: absolute;
    background: #d9d9d9;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    top: 800px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.card-profile {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 64px;
    top: 800px;
    border-radius: 50%;
    overflow: hidden;
}

.card-profile svg {
    width: 100%;
    height: 100%;
}

.ThisIsTheTitle {
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 48px;
    font-weight: 500;
    word-wrap: break-word;
    width: 506.33px;
    left: 267px;
}

.NViews {
    width: 171.5px;
    position: absolute;
    text-align: right;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 40px;
    font-weight: 500;
    word-wrap: break-word;
    right: 30px;
}

.card-image-overlay {
    position: absolute;
    width: 120px;
    height: 120px;
    right: 0;
    bottom: 0;
}

.card-image-overlay svg {
    width: 100%;
    height: 100%;
}

/* Footer */
.Footer {
    width: 1920px;
    height: 200px;
    left: 0px;
    top: 4240px;
    position: absolute;
    background: black;
    overflow: hidden;
}

.Footer .Vector {
    left: 24px;
    top: 0px;
    position: absolute;
}

.Footer .Vector svg {
    width: 200px;
    height: 200px;
}

.Copyright {
    left: 1275px;
    top: 76px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 400;
}

/* Utility Classes */
svg {
    fill: none;
}
