* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Haas Grot Text Trial", sans-serif;
}

.DetailPageOverview {
    width: 1920px;
    height: 4440px;
    position: relative;
    background: white;
    overflow: hidden;
}

/* Header */
.Rectangle5 {
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
}

.MenuText {
    left: 1715px;
    top: 31px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 32px;
    font-weight: 500;
}

.LoginButton {
    left: 1548px;
    top: 31px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 32px;
    font-weight: 500;
}

/* Logo */
.Vector-logo {
    left: 99.79px;
    top: -5.36px;
    position: absolute;
}

.Vector-logo svg {
    width: 104px;
    height: 99px;
}

/* Hero Section */
.Vector-hero {
    left: 0px;
    top: 100px;
    position: absolute;
}

.Vector-hero svg {
    width: 1920px;
    height: 1151px;
}

/* Memes Title */
.Memes {
    left: 100px;
    top: 1076px;
    position: absolute;
    color: white;
    font-size: 120px;
    font-weight: 500;
}

/* Year Section */
.year-section {
    position: absolute;
    left: 100px;
    top: 1320px;
    width: 1820px;
    height: 100px;
    display: flex;
    gap: 40px;
    justify-content: flex-start;
}

.year-button {
    width: 400px;
    height: 100px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 52px;
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: none;
    font-family: "Haas Grot Text Trial", sans-serif;
}

.year-button:hover {
    transform: scale(1.05);
}

.year-button--red {
    background: #bb5151;
}

.year-button--blue {
    background: #515dbb;
    width: 401px;
}

/* Meme Cards Container */
.meme-cards-container {
    position: absolute;
    left: 0px;
    top: 1520px;
    width: 1920px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding: 0 100px;
}

/* Meme Card */
.meme-card {
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 840px;
    height: 800px;
    background: #f1f1f1;
    border-radius: 32px 32px 0 0;
    position: relative;
    overflow: hidden;
}

.card-image svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 120px;
    background: white;
}

.card-image-overlay svg {
    width: 100%;
    height: 100%;
}

.card-info {
    width: 840px;
    height: 267px;
    background: #d9d9d9;
    border-radius: 0 0 32px 32px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.card-title {
    color: black;
    font-size: 48px;
    font-weight: 500;
    word-wrap: break-word;
    flex: 1;
}

.card-views {
    width: 171.5px;
    text-align: right;
    color: black;
    font-size: 40px;
    font-weight: 500;
}

.card-profile {
    position: absolute;
    left: 64px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.card-profile svg {
    width: 100%;
    height: 100%;
}

/* Footer */
.Footer {
    width: 1920px;
    height: 200px;
    left: 0px;
    top: 4240px;
    position: absolute;
    background: black;
    overflow: hidden;
}

.Footer .Vector {
    left: 24px;
    top: 0px;
    position: absolute;
}

.Footer .Vector svg {
    width: 200px;
    height: 200px;
}

.Copyright {
    left: 1275px;
    top: 76px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 400;
}

/* Utility Classes */
svg {
    fill: none;
}
