* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Haas Grot Text Trial', sans-serif;
}

.DetailPageOverview {
    width: 1920px;
    height: 4440px;
    position: relative;
    background: white;
    overflow: hidden;
}

/* Header */
.Rectangle5 {
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
}

.MenuText {
    left: 1715px;
    top: 31px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
}

.LoginButton {
    left: 1548px;
    top: 31px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
}

#logo-header {
    left: 100px;
    top: -3.57px;
    position: absolute;
}

#hero-image {
    left: 0px;
    top: 100px;
    position: absolute;
}

/* MEMES Title */
.Memes {
    left: 100px;
    top: 1076px;
    position: absolute;
    color: white;
    font-size: 120px;
    font-weight: 500;
}

/* Cards */
.card-container {
    width: 840px;
    height: 1067px;
    position: absolute;
}

.Rectangle6 {
    width: 840px;
    height: 800px;
    position: absolute;
    top: 0;
    background: #f1f1f1;
    border-radius: 32px;
}

.Rectangle7 {
    width: 840px;
    height: 267px;
    position: absolute;
    top: 533px;
    background: #d9d9d9;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
}

.ThisIsTheTitle {
    width: 506.33px;
    left: 167px;
    top: 712px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 48px;
    font-weight: 500;
}

.NViews {
    width: 171.5px;
    right: 100px;
    top: 603px;
    position: absolute;
    text-align: right;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 40px;
    font-weight: 500;
}

/* Year Buttons */
.year-button {
    width: 400px;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

.year-button:nth-child(10) {
    width: 401px;
}

.year-button:nth-child(12) {
    width: 401px;
}

.Rectangle8 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #bb5151;
    border-radius: 16px;
}

.Rectangle9 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #515dbb;
    border-radius: 16px;
}

.year-text {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 52px;
    font-weight: 400;
}

/* Footer */
.Footer {
    width: 1920px;
    height: 200px;
    left: 0px;
    top: 4240px;
    position: absolute;
    background: black;
    overflow: hidden;
}

.Copyright {
    left: 1275px;
    top: 76px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 400;
}

/* SVG Wrapper */
[data-svg-wrapper] {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    width: 100%;
    height: 100%;
}
