/* Geist Mono Local Font Files */

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./GeistMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./GeistMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./GeistMono-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./GeistMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./GeistMono-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./GeistMono-Black.ttf') format('truetype');
}
